<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="usuarios" connectionString="Data Source=DESKTOP-RQOFN9O\SQLEXPRESS;Initial Catalog=Usuario;User ID=sa;Password=2364144;Integrated Security=False;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>